<!DOCTYPE html>
<html>
<head>
	<title>test7 for vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app7">
    <ol>
        <!-- <li v-for="(item,index) in todos" :key="index">{{item.text}}</li> -->
        <todo-item v-for="(item,index) in groceryList" :todo="item" :key="index" :dict="dicts" ref="todo"></todo-item>
        <!-- <todo-item v-for="item in groceryList" :todo="item" :key="item.id"></todo-item> -->
    </ol>
</div>
</body>
	<script type="text/javascript">
        Vue.component('todo-item',{
            // todo-item 组件现在接受一个
            // "prop"，类似于一个自定义特性。
            // 这个 prop 名为 todo。
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });
        var app4 = new Vue({
            el: '#app7',
            data: {
                dicts: {
                    dictentry: '1041',
                    subentry: ['2', 'T', 'A', 'X'],
                    filterTyle: 'in',
                    data: 'dict_entry_1041'

                },
                groceryList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '随便其它什么人吃的东西' }
                ]
            },
            methods:{
                getRefs:function(ref){
                    return this.$refs[ref];
                }
            },
            mounted:function(){
                var todo = this.getRefs('todo');
                for(let a in todo[0].$attrs.dict){
                    console.log(todo[0].$attrs.dict[a]);
                }
            }
        });
    </script>
</html>